In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv('titanic.csv')
print(df)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [7]:
# Identify the missing values
missing_values = df.isna().sum()

In [8]:
# Remove the missing values
df = df.dropna()

In [10]:
print(df)

     PassengerId  Pclass                                               Name  \
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
26           918       1                       Ostby, Miss. Helene Ragnhild
28           920       1                            Brady, Mr. John Bertram
..           ...     ...                                                ...
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
407         1299       1                         Widener, Mr. George Dunton
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
414         1306       1                       Oliva y Ocana, Dona. Fermina

        Sex   Age  SibSp  Parch         Ticket      Fare            Cabin  \
12   female  23.0      1      0          21228   82.2667              B45
14   female  47.0      1      0    W.E.P. 5734   61.1750              E31
24   female  48.0      1      3       PC 17608  262.3750  B57 B59 B63 B66
26   female  22.0      0      1         113509   61.9792              B36
28     male  41.0      0      0         113054   30.5000              A21
..      ...   ...    ...    ...            ...       ...              ...
404    male  43.0      1      0          17765   27.7208              D40
405    male  20.0      0      0  SC/PARIS 2166   13.8625              D38
407    male  50.0      1      1         113503  211.5000              C80
411  female  37.0      1      0          19928   90.0000              C78
414  female  39.0      0      0       PC 17758  108.9000             C105

    Embarked
12         S
14         S
24         C
26         C
28         S
..       ...
404        C
405        C
407        C
411        Q
414        C

[87 rows x 11 columns]

In [12]:
# Identify the outliers
outliers = df.loc[(df['PassengerId'] < df['PassengerId'].quantile(0.05)) | (df['PassengerId'] > df['PassengerId'].quantile(0.95))]

# Remove the outliers
df = df.drop(outliers.index)
print(df)

     PassengerId  Pclass                                   Name     Sex   Age  \
50           942       1               Smith, Mr. Lucien Philip    male  24.0
53           945       1             Fortune, Miss. Ethel Flora  female  28.0
57           949       3          Abelseth, Mr. Olaus Jorgensen    male  25.0
59           951       1            Chaudanson, Miss. Victorine  female  36.0
64           956       1            Ryerson, Master. John Borie    male  13.0
..           ...     ...                                    ...     ...   ...
371         1263       1              Wilson, Miss. Helen Alice  female  31.0
372         1264       1                Ismay, Mr. Joseph Bruce    male  49.0
374         1266       1  Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0
378         1270       1            Hipkins, Mr. William Edward    male  55.0
390         1282       1             Payne, Mr. Vivian Ponsonby    male  23.0

     SibSp  Parch    Ticket      Fare            Cabin Embarked
50       1      0     13695   60.0000              C31        S
53       3      2     19950  263.0000      C23 C25 C27        S
57       0      0    348122    7.6500            F G63        S
59       0      0  PC 17608  262.3750              B61        C
64       2      2  PC 17608  262.3750  B57 B59 B63 B66        C
..     ...    ...       ...       ...              ...      ...
371      0      0     16966  134.5000          E39 E41        C
372      0      0    112058    0.0000      B52 B54 B56        S
374      1      1     33638   81.8583              A34        S
378      0      0       680   50.0000              C39        S
390      0      0     12749   93.5000              B24        S

[69 rows x 11 columns]